body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.userformelement {
  float: left;
  margin-right: 5px;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.btn-round-lg {
  border-radius: 22.5px;
}

.btn-round {
  border-radius: 17px;
}

.btn-round-sm {
  border-radius: 15px;
}

.btn-round-xs {
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
}
  
.btn-username {
  margin-right: 5px;
}

.btn-username:hover {
  background-color: red;
}

.btn-group {
  display: inline-block;
}

tooltip tip.usn {
  min-width: 300;
}

.table > tbody > tr > td {
  vertical-align: middle;
}